<!-- addPlayer.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Football Player</title>
</head>
<body>
<h2>Add Football Player</h2>

<form th:action="@{/add}" method="post" th:object="${player}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required />

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}" required />

    <!-- Другие поля ввода -->

    <label for="teamName">Team Name:</label>
    <input type="text" id="teamName" name="teamName" th:field="*{teamName}" required />

    <label for="country">Country:</label>
    <select id="country" name="country" th:field="*{country}" required>
        <option value="Russia">Russia</option>
        <option value="USA">USA</option>
        <option value="Italy">Italy</option>
    </select>

    <button type="submit">Add Player</button>
</form>

<a th:href="@{/}" class="btn">Back to Home</a>
</body>
</html>